<div class="section">
    <div class="title">РЕЖИМЫ МАТЧМЕЙКИНГА</div>
    <div class="inline">
        <div class="item" page="quick-match">
            <div class="content">
                <div class="name">БЫСТРЫЙ МАТЧ</div>
                <div class="description">Вы присоединяетесь к поиску матча как одиночный игрок.<br><br>Сначала матчмейкинг соберёт команды из готовых экипажей, созданных другими игроками. Если для матча не хватит экипажей, система автоматически добавит одиночных игроков, чтобы заполнить недостающие места.<br><br>Это обеспечивает быстрый старт боя, но вам предоставляется случайная техника.</div>
            </div>
        </div>
        <div class="item" page="crew-host">
            <div class="content">
                <div class="name">СВОЙ ЭКИПАЖ</div>
                <div class="description">Вы становитесь лидером экипажа и выбираете, кто будет играть с вами. Приглашайте своих друзей или других игроков.<br><br>После формирования экипажа матчмейкинг подберет вам команды из других готовых экипажей и дополнит их соло-игроками, если это необходимо.<br><br>Это идеальный способ сыграть с теми, с кем вам комфортно.</div>
            </div>
        </div>
        <div class="item" page="lobby-list">
            <div class="content">
                <div class="name">ЛОББИ</div>
                <div class="description">Вы можете создать свой собственный матч с уникальными настройками, такими как выбор карты, режим боя или ограничения по технике.<br><br>Приглашайте других игроков, чтобы сформировать команды по своему усмотрению. Матч начнется, когда вы, как организатор, дадите старт.<br><br>Это отличный вариант для дружеских или соревновательных игр по вашим правилам.</div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="title">ПОСЛЕДНИЕ НОВОСТИ</div>
    <div class="list">
        <div class="item">
            <div class="image" style="background-image: url(/window/assets/images/backgrounds/5.png);"></div>
            <div class="content">
                <div class="name">Кто придумал такой длинный заголовок?</div>
                <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sodales tellus lorem, et molestie ipsum auctor id.</div>
            </div>
        </div>
        <div class="item">
            <div class="image" style="background-image: url(/window/assets/images/backgrounds/6.png);"></div>
            <div class="content">
                <div class="name">Ещё один пример карточки</div>
                <div class="description">Sed condimentum at nulla sit amet auctor. In blandit blandit dictum. Aenean vestibulum est a turpis ornare pharetra.</div>
            </div>
        </div>
        <div class="item">
            <div class="image" style="background-image: url(/window/assets/images/backgrounds/7.png);"></div>
            <div class="content">
                <div class="name">Мы всё сломали</div>
                <div class="description">Phasellus ligula orci, consequat eu ipsum quis, vehicula euismod metus. Morbi vel tincidunt augue.</div>
            </div>
        </div>
        <div class="item">
            <div class="image" style="background-image: url(/window/assets/images/backgrounds/8.png);"></div>
            <div class="content">
                <div class="name">Заполняем место!</div>
                <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sodales tellus lorem, et molestie ipsum auctor id.</div>
            </div>
        </div>
        <div class="item">
            <div class="image" style="background-image: url(/window/assets/images/backgrounds/8.png);"></div>
            <div class="content">
                <div class="name">Заполняем место!</div>
                <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sodales tellus lorem, et molestie ipsum auctor id.</div>
            </div>
        </div>
        <div class="item">
            <div class="image" style="background-image: url(/window/assets/images/backgrounds/8.png);"></div>
            <div class="content">
                <div class="name">Заполняем место!</div>
                <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sodales tellus lorem, et molestie ipsum auctor id.</div>
            </div>
        </div>
        <div class="item">
            <div class="image" style="background-image: url(/window/assets/images/backgrounds/8.png);"></div>
            <div class="content">
                <div class="name">Заполняем место!</div>
                <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sodales tellus lorem, et molestie ipsum auctor id.</div>
            </div>
        </div>
        <div class="item">
            <div class="image" style="background-image: url(/window/assets/images/backgrounds/8.png);"></div>
            <div class="content">
                <div class="name">Заполняем место!</div>
                <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sodales tellus lorem, et molestie ipsum auctor id.</div>
            </div>
        </div>
    </div>
</div>