<div class="body">
    <!-- вход (если аккаунта нет, то регистрация) -->
    <!-- <div class="block login">
        <div class="title">ВХОД В УЧЁТНУЮ ЗАПИСЬ</div>
        <button>ВОЙТИ ЧЕРЕЗ STEAM</button>
    </div> -->

    <!-- регистрация -->
    <div class="block register">
        <div class="title">ДОБРО ПОЖАЛОВАТЬ!</div>
        <div class="description">Мы впервые видим ваш Steam-аккаунт в нашей системе.<br>Заполните несколько полей, чтобы завершить регистрацию.</div>
        <div class="section">
            <div>
                <div>УКАЖИТЕ ВАШ НИКНЕЙМ</div>
            </div>
            <input type="text" placeholder="nickname">
        </div>
        <div class="section">
            <div>
                <div>УКАЖИТЕ ВАШ ARMA ID</div>
                <button>КАК ПОЛУЧИТЬ ARMA ID?</button>
            </div>
            <input type="text" placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx">
        </div>
        <button disabled>ПРОДОЛЖИТЬ</button>
    </div>

    <!-- некорректные данные -->
    <!-- <div class="block register">
        <div class="title">ДОБРО ПОЖАЛОВАТЬ!</div>
        <div class="description">Мы впервые видим ваш Steam-аккаунт в нашей системе.<br>Заполните несколько полей, чтобы завершить регистрацию.</div>
        <div class="section invalid">
            <div>
                <div>ТАКОЙ НИКНЕЙМ УЖЕ СУЩЕСТВУЕТ</div>
            </div>
            <input type="text" placeholder="nickname">
        </div>
        <div class="section invalid">
            <div>
                <div>НЕКОРРЕКТНЫЙ ARMA ID</div>
                <button>КАК ПОЛУЧИТЬ ARMA ID?</button>
            </div>
            <input type="text" placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx">
        </div>
        <button disabled>ПРОДОЛЖИТЬ</button>
    </div> -->

    <!-- незавершённая регистрация -->
    <!-- <div class="block register">
        <div class="title">С ВОЗВРАЩЕНИЕМ!</div>
        <div class="description">Регистрация вашего аккаунта не была завершена.<br>Заполните оставшиеся поля, чтобы продолжить.</div>
        <div class="section">
            <div>
                <div>УКАЖИТЕ ВАШ НИКНЕЙМ</div>
            </div>
            <input type="text" placeholder="nickname">
        </div>
        <div class="section">
            <div>
                <div>УКАЖИТЕ ВАШ ARMA ID</div>
                <button>КАК ПОЛУЧИТЬ ARMA ID?</button>
            </div>
            <input type="text" placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx">
        </div>
        <button disabled>ПРОДОЛЖИТЬ</button>
    </div> -->
</div>