<div class="head">
    <div class="title">ИСТОРИЯ МАТЧЕЙ</div>
    <div class="options">
        <button class="small" page="player-profile">ВЕРНУТЬСЯ В ПРОФИЛЬ</button>
    </div>
</div>
<div class="body">
    <div class="table">
        <div class="thead">
            <div class="th">#</div>
            <div class="th">
                <img src="/window/assets/images/icons/finish.svg">
            </div>
            <div class="th">ТЕХНИКА</div>
            <div class="th">
                <img src="/window/assets/images/icons/map.svg">
                <span>КАРТА</span>
            </div>
            <div class="th">
                <img src="/window/assets/images/icons/calendar.svg">
                <span>ДАТА</span>
            </div>
            <div class="th"></div>
        </div>
        <div class="tbody">
            <div class="trow">
                <div class="td">193284</div>
                <div class="td">
                    <img src="/window/assets/images/icons/win.svg">
                </div>
                <div class="td">
                    <img src="/window/assets/images/flags/ru.png">
                    <div class="name">Т-72А</div>
                </div>
                <div class="td">Чернарусь #12</div>
                <div class="td">22:46 06.06.2025</div>
                <div class="td"></div>
            </div>
            <div class="trow">
                <div class="td">193284</div>
                <div class="td">
                    <img src="/window/assets/images/icons/lose.svg">
                </div>
                <div class="td">
                    <img src="/window/assets/images/flags/ru.png">
                    <div class="name">Т-72А</div>
                </div>
                <div class="td">Чернарусь #12</div>
                <div class="td">22:46 06.06.2025</div>
                <div class="td"></div>
            </div>
            <div class="trow">
                <div class="td">193284</div>
                <div class="td">
                    <img src="/window/assets/images/icons/win.svg">
                </div>
                <div class="td">
                    <img src="/window/assets/images/flags/ru.png">
                    <div class="name">Т-72А</div>
                </div>
                <div class="td">Чернарусь #12</div>
                <div class="td">22:46 06.06.2025</div>
                <div class="td"></div>
            </div>
            <div class="trow">
                <div class="td">193284</div>
                <div class="td">
                    <img src="/window/assets/images/icons/lose.svg">
                </div>
                <div class="td">
                    <img src="/window/assets/images/flags/ru.png">
                    <div class="name">Т-72А</div>
                </div>
                <div class="td">Чернарусь #12</div>
                <div class="td">22:46 06.06.2025</div>
                <div class="td"></div>
            </div>
            <div class="trow">
                <div class="td">193284</div>
                <div class="td">
                    <img src="/window/assets/images/icons/lose.svg">
                </div>
                <div class="td">
                    <img src="/window/assets/images/flags/ru.png">
                    <div class="name">Т-72А</div>
                </div>
                <div class="td">Чернарусь #12</div>
                <div class="td">22:46 06.06.2025</div>
                <div class="td"></div>
            </div>
            <div class="trow">
                <div class="td">193284</div>
                <div class="td">
                    <img src="/window/assets/images/icons/lose.svg">
                </div>
                <div class="td">
                    <img src="/window/assets/images/flags/ru.png">
                    <div class="name">Т-72А</div>
                </div>
                <div class="td">Чернарусь #12</div>
                <div class="td">22:46 06.06.2025</div>
                <div class="td"></div>
            </div>
            <div class="trow">
                <div class="td">193284</div>
                <div class="td">
                    <img src="/window/assets/images/icons/win.svg">
                </div>
                <div class="td">
                    <img src="/window/assets/images/flags/ru.png">
                    <div class="name">Т-72А</div>
                </div>
                <div class="td">Чернарусь #12</div>
                <div class="td">22:46 06.06.2025</div>
                <div class="td"></div>
            </div>
            <div class="trow">
                <div class="td">193284</div>
                <div class="td">
                    <img src="/window/assets/images/icons/win.svg">
                </div>
                <div class="td">
                    <img src="/window/assets/images/flags/ru.png">
                    <div class="name">Т-72А</div>
                </div>
                <div class="td">Чернарусь #12</div>
                <div class="td">22:46 06.06.2025</div>
                <div class="td"></div>
            </div>
            <div class="trow">
                <div class="td">193284</div>
                <div class="td">
                    <img src="/window/assets/images/icons/lose.svg">
                </div>
                <div class="td">
                    <img src="/window/assets/images/flags/ru.png">
                    <div class="name">Т-72А</div>
                </div>
                <div class="td">Чернарусь #12</div>
                <div class="td">22:46 06.06.2025</div>
                <div class="td"></div>
            </div>
        </div>
    </div>
</div>