<div class="head">
    <div class="title">
        ЛОББИ: САЛЬВАБОБУСЫ
    </div>
    <div class="options">
        <button class="small" disabled>НАЧАТЬ МАТЧ</button>
        <button class="small" page="lobby-list">ПОКИНУТЬ ЛОББИ</button>
    </div>
</div>
<div class="body">
    <div class="column">
        <div class="block">
            <div class="title">
                ЧЕРНАРУСЬ
                #12
            </div>
            <div class="map" style="background-image: url(/window/assets/images/maps/chernarus.png);"></div>
            <button>
                <div class="name">СКОПИРОВАТЬ ССЫЛКУ-ПРИГЛАШЕНИЕ</div>
                <div class="hint">ДРУЗЬЯ МОГУТ ПРИСОЕДИНИТЬСЯ К ВАМ В РАЗДЕЛЕ "ИГРОКИ"</div>
            </button>
            <div class="chat">
                <div class="list">
                    <div class="item system">
                        <div class="message">SalwadoR присоединился к лобби</div>
                    </div>
                    <div class="item">
                        <div class="author blue">SalwadoR:</div>
                        <div class="message">чё это вдруг сальвабобусы?</div>
                    </div>
                    <div class="item">
                        <div class="author blue">SalwadoR:</div>
                        <div class="message">я абоба вахуи</div>
                    </div>
                    <div class="item system">
                        <div class="message">SalwadoR был исключён из лобби</div>
                    </div>
                    <div class="item system">
                        <div class="message">SalwadoR присоединился к лобби</div>
                    </div>
                    <div class="item">
                        <div class="author blue">SalwadoR:</div>
                        <div class="message">не понял</div>
                    </div>
                    <div class="item">
                        <div class="author green">eugene27th:</div>
                        <div class="message">ну а чё ты</div>
                    </div>
                    <div class="item">
                        <div class="author blue">SalwadoR:</div>
                        <div class="message">чё я</div>
                    </div>
                    <div class="item system">
                        <div class="message">Helex присоединился к лобби</div>
                    </div>
                    <div class="item">
                        <div class="author blue">Helex:</div>
                        <div class="message">вы чё тут?</div>
                    </div>
                    <div class="item">
                        <div class="author blue">SalwadoR:</div>
                        <div class="message">чё мы</div>
                    </div>
                    <div class="item">
                        <div class="author green">eugene27th:</div>
                        <div class="message">чё мы</div>
                    </div>
                    <div class="item">
                        <div class="author blue">Helex:</div>
                        <div class="message">пу пу пу</div>
                    </div>
                    <div class="item system">
                        <div class="message">Helex покинул лобби</div>
                    </div>
                    <div class="item">
                        <div class="author blue">SalwadoR:</div>
                        <div class="message">пон</div>
                    </div>
                    <div class="item">
                        <div class="author green">eugene27th:</div>
                        <div class="message">и чё ты пон</div>
                    </div>
                    <div class="item system">
                        <div class="message">Rich присоединился к лобби</div>
                    </div>
                    <div class="item">
                        <div class="author blue">Rich:</div>
                        <div class="message">на мак пойдёт?</div>
                    </div>
                    <div class="item">
                        <div class="author green">eugene27th:</div>
                        <div class="message">нет</div>
                    </div>
                    <div class="item system">
                        <div class="message">Rich покинул лобби</div>
                    </div>
                    <div class="item">
                        <div class="author green">eugene27th:</div>
                        <div class="message">пон</div>
                    </div>
                    <div class="item">
                        <div class="author blue">SalwadoR:</div>
                        <div class="message">и чё ты пон</div>
                    </div>
                    <div class="item system">
                        <div class="message">SalwadoR был исключён из лобби</div>
                    </div>
                </div>
                <input type="text" placeholder="Сообщение...">
            </div>
        </div>
    </div>
    <div class="column">
        <div class="block">
            <div class="title">
                КОМАНДА А
            </div>
            <button>
                <div class="name">СОЗДАТЬ ЭКИПАЖ</div>
                <div class="limit">3/12</div>
            </button>
            <div class="list">
                <div class="item">
                    <div class="row header">
                        <div class="image" style="background-image: url(/window/assets/images/vehicles/m60a1.png);"></div>
                        <div class="content">
                            <div class="top">
                                <div class="sign">BRAVO 1</div>
                                <div class="status">НЕ ГОТОВ</div>
                            </div>
                            <div class="bottom">
                                <div class="vehicle green">M60A3 TTS</div>
                                <div class="status">
                                    <div>
                                        ПРИСОЕДИНИТЬСЯ
                                        3/4
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row player">
                        <div class="image" style="background-image: url(/window/assets/images/avatars/2.png);"></div>
                        <div class="content">
                            <div class="name">Hiar</div>
                            <div class="options">
                                <button>ВЫГНАТЬ</button>
                            </div>
                        </div>
                    </div>
                    <div class="row player">
                        <div class="image" style="background-image: url(/window/assets/images/avatars/4.png);"></div>
                        <div class="content">
                            <div class="name">Dragonet</div>
                            <div class="options">
                                <button>ВЫГНАТЬ</button>
                            </div>
                        </div>
                    </div>
                    <div class="row player">
                        <div class="image" style="background-image: url(/window/assets/images/avatars/5.png);"></div>
                        <div class="content">
                            <div class="name">Zachickyan</div>
                            <div class="options">
                                <button>ВЫГНАТЬ</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row header disabled">
                        <div class="image" style="background-image: url(/window/assets/images/vehicles/m60a1.png);"></div>
                        <div class="content">
                            <div class="top">
                                <div class="sign">BRAVO 2</div>
                                <div class="status">НЕ ГОТОВ</div>
                            </div>
                            <div class="bottom">
                                <div class="vehicle">ТЕХНИКА НЕ ВЫБРАНА</div>
                                <div class="status"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row player">
                        <div class="image" style="background-image: url(/window/assets/images/avatars/1.png);"></div>
                        <div class="content">
                            <div class="name">Ceyann</div>
                            <div class="options">
                                <button>ВЫГНАТЬ</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row header disabled">
                        <div class="image" style="background-image: url(/window/assets/images/vehicles/m60a1.png);"></div>
                        <div class="content">
                            <div class="top">
                                <div class="sign">BRAVO 3</div>
                                <div class="status green">ГОТОВ</div>
                            </div>
                            <div class="bottom">
                                <div class="vehicle green">M60A3 TTS</div>
                                <div class="status">
                                    <div>
                                        4/4
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row player">
                        <div class="image" style="background-image: url(/window/assets/images/avatars/2.png);"></div>
                        <div class="content">
                            <div class="name">Carsteraniza</div>
                            <div class="options">
                                <button>ВЫГНАТЬ</button>
                            </div>
                        </div>
                    </div>
                    <div class="row player">
                        <div class="image" style="background-image: url(/window/assets/images/avatars/5.png);"></div>
                        <div class="content">
                            <div class="name">Rsemala</div>
                            <div class="options">
                                <button>ВЫГНАТЬ</button>
                            </div>
                        </div>
                    </div>
                    <div class="row player">
                        <div class="image" style="background-image: url(/window/assets/images/avatars/3.png);"></div>
                        <div class="content">
                            <div class="name">Judioraldon</div>
                            <div class="options">
                                <button>ВЫГНАТЬ</button>
                            </div>
                        </div>
                    </div>
                    <div class="row player">
                        <div class="image" style="background-image: url(/window/assets/images/avatars/1.png);"></div>
                        <div class="content">
                            <div class="name">Anti</div>
                            <div class="options">
                                <button>ВЫГНАТЬ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="block">
            <div class="title">
                КОМАНДА Б
            </div>
            <button>
                <div class="name">СОЗДАТЬ ЭКИПАЖ</div>
                <div class="limit">3/12</div>
            </button>
            <div class="list">
                <div class="item">
                    <div class="row header disabled">
                        <div class="image" style="background-image: url(/window/assets/images/vehicles/t72a.png);"></div>
                        <div class="content">
                            <div class="top">
                                <div class="sign">ALPHA 1</div>
                                <div class="status green">ГОТОВ</div>
                            </div>
                            <div class="bottom">
                                <div class="vehicle green">Т-72А</div>
                                <div class="status">
                                    <div>
                                        3/3
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row player">
                        <div class="image" style="background-image: url(/window/assets/images/avatars/1.png);"></div>
                        <div class="content">
                            <div class="name">Calenevayah</div>
                            <div class="options">
                                <button>ВЫГНАТЬ</button>
                            </div>
                        </div>
                    </div>
                    <div class="row player">
                        <div class="image" style="background-image: url(/window/assets/images/avatars/2.png);"></div>
                        <div class="content">
                            <div class="name">Ceyann</div>
                            <div class="options">
                                <button>ВЫГНАТЬ</button>
                            </div>
                        </div>
                    </div>
                    <div class="row player">
                        <div class="image" style="background-image: url(/window/assets/images/avatars/3.png);"></div>
                        <div class="content">
                            <div class="name">Vantony</div>
                            <div class="options">
                                <button>ВЫГНАТЬ</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row header">
                        <div class="image" style="background-image: url(/window/assets/images/vehicles/t72a.png);"></div>
                        <div class="content">
                            <div class="top">
                                <div class="sign">ALPHA 2</div>
                                <div class="status">НЕ ГОТОВ</div>
                            </div>
                            <div class="bottom">
                                <div class="vehicle green">Т-72А</div>
                                <div class="status">
                                    <div>
                                        ПРИСОЕДИНИТЬСЯ
                                        2/3
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row player">
                        <div class="image" style="background-image: url(/window/assets/images/avatars/4.png);"></div>
                        <div class="content">
                            <div class="name">Yrentairw</div>
                            <div class="options">
                                <button>ВЫГНАТЬ</button>
                            </div>
                        </div>
                    </div>
                    <div class="row player">
                        <div class="image" style="background-image: url(/window/assets/images/avatars/5.png);"></div>
                        <div class="content">
                            <div class="name">Rsemala</div>
                            <div class="options">
                                <button>ВЫГНАТЬ</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row header disabled">
                        <div class="image" style="background-image: url(/window/assets/images/vehicles/t72a.png);"></div>
                        <div class="content">
                            <div class="top">
                                <div class="sign">ALPHA 3</div>
                                <div class="status green">ГОТОВ</div>
                            </div>
                            <div class="bottom">
                                <div class="vehicle green">Т-72А</div>
                                <div class="status">
                                    <div>
                                        3/3
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row player">
                        <div class="image" style="background-image: url(/window/assets/images/avatars/1.png);"></div>
                        <div class="content">
                            <div class="name">Calenevayah</div>
                            <div class="options">
                                <button>ВЫГНАТЬ</button>
                            </div>
                        </div>
                    </div>
                    <div class="row player">
                        <div class="image" style="background-image: url(/window/assets/images/avatars/2.png);"></div>
                        <div class="content">
                            <div class="name">Ceyann</div>
                            <div class="options">
                                <button>ВЫГНАТЬ</button>
                            </div>
                        </div>
                    </div>
                    <div class="row player">
                        <div class="image" style="background-image: url(/window/assets/images/avatars/3.png);"></div>
                        <div class="content">
                            <div class="name">Vantony</div>
                            <div class="options">
                                <button>ВЫГНАТЬ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="block">
            <div class="title">ВЫБЕРИТЕ ТЕХНИКУ</div>
            <div class="list">
                <div class="item">
                    <div class="image" style="background-image: url(/window/assets/images/vehicles/t72a.png);"></div>
                    <div class="content">
                        <div class="top">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-72А</div>
                        </div>
                        <div class="bottom">
                            <div class="entry">
                                <div class="name">УРОВЕНЬ:</div>
                                <div class="value">2</div>
                            </div>
                            <div class="entry">
                                <div class="name">ЭКИПАЖ:</div>
                                <div class="value">3</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selected">
                    <div class="image" style="background-image: url(/window/assets/images/vehicles/t72b.png);"></div>
                    <div class="content">
                        <div class="top">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-72Б</div>
                        </div>
                        <div class="bottom">
                            <div class="entry">
                                <div class="name">УРОВЕНЬ:</div>
                                <div class="value">3</div>
                            </div>
                            <div class="entry">
                                <div class="name">ЭКИПАЖ:</div>
                                <div class="value">3</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(/window/assets/images/vehicles/t64a.png);"></div>
                    <div class="content">
                        <div class="top">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-64А</div>
                        </div>
                        <div class="bottom">
                            <div class="entry">
                                <div class="name">УРОВЕНЬ:</div>
                                <div class="value">2</div>
                            </div>
                            <div class="entry">
                                <div class="name">ЭКИПАЖ:</div>
                                <div class="value">3</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(/window/assets/images/vehicles/t64b.png);"></div>
                    <div class="content">
                        <div class="top">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-64Б</div>
                        </div>
                        <div class="bottom">
                            <div class="entry">
                                <div class="name">УРОВЕНЬ:</div>
                                <div class="value">3</div>
                            </div>
                            <div class="entry">
                                <div class="name">ЭКИПАЖ:</div>
                                <div class="value">3</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(/window/assets/images/vehicles/t80b.png);"></div>
                    <div class="content">
                        <div class="top">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-80Б</div>
                        </div>
                        <div class="bottom">
                            <div class="entry">
                                <div class="name">УРОВЕНЬ:</div>
                                <div class="value">2</div>
                            </div>
                            <div class="entry">
                                <div class="name">ЭКИПАЖ:</div>
                                <div class="value">3</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(/window/assets/images/vehicles/t80u.png);"></div>
                    <div class="content">
                        <div class="top">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-80У</div>
                        </div>
                        <div class="bottom">
                            <div class="entry">
                                <div class="name">УРОВЕНЬ:</div>
                                <div class="value">3</div>
                            </div>
                            <div class="entry">
                                <div class="name">ЭКИПАЖ:</div>
                                <div class="value">3</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(/window/assets/images/vehicles/m60a1.png);"></div>
                    <div class="content">
                        <div class="top">
                            <img src="/window/assets/images/flags/us.png">
                            <div class="name">M60A1 (AOS)</div>
                        </div>
                        <div class="bottom">
                            <div class="entry">
                                <div class="name">УРОВЕНЬ:</div>
                                <div class="value">1</div>
                            </div>
                            <div class="entry">
                                <div class="name">ЭКИПАЖ:</div>
                                <div class="value">4</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(/window/assets/images/vehicles/t55a.png);"></div>
                    <div class="content">
                        <div class="top">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-55А</div>
                        </div>
                        <div class="bottom">
                            <div class="entry">
                                <div class="name">УРОВЕНЬ:</div>
                                <div class="value">1</div>
                            </div>
                            <div class="entry">
                                <div class="name">ЭКИПАЖ:</div>
                                <div class="value">4</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(/window/assets/images/vehicles/bmp3.png);"></div>
                    <div class="content">
                        <div class="top">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">БМП-3</div>
                        </div>
                        <div class="bottom">
                            <div class="entry">
                                <div class="name">УРОВЕНЬ:</div>
                                <div class="value">2</div>
                            </div>
                            <div class="entry">
                                <div class="name">ЭКИПАЖ:</div>
                                <div class="value">3</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(/window/assets/images/vehicles/btr80a.png);"></div>
                    <div class="content">
                        <div class="top">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">БТР-80А</div>
                        </div>
                        <div class="bottom">
                            <div class="entry">
                                <div class="name">УРОВЕНЬ:</div>
                                <div class="value">2</div>
                            </div>
                            <div class="entry">
                                <div class="name">ЭКИПАЖ:</div>
                                <div class="value">3</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>