<div class="head">
    <div class="title">ПРОФИЛЬ</div>
    <div class="options">
        <button class="small" page="match_history">ИСТОРИЯ МАТЧЕЙ</button>
    </div>
</div>
<div class="body">
    <div class="column">
        <div class="block">
            <div class="title">КАРТОЧКА ПРОФИЛЯ</div>
            <div class="card">
                <div class="image" style="background-image: url(/window/assets/images/avatars/1.png);"></div>
                <div class="content">
                    <div class="name">eugene27th</div>
                    <div class="bottom">
                        <div class="row">
                            <div>УРОВЕНЬ: <span class="yellow">13</span></div>
                            <div>14</div>
                        </div>
                        <div class="row">
                            <div class="bar"></div>
                        </div>
                        <div class="row"><span class="yellow">5603</span> / 13200 XP</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="title">ОБЩАЯ СТАТИСТИКА</div>
            <div class="list">
                <div class="item">
                    <div class="name">ВРЕМЯ ИГРЫ:</div>
                    <div class="value">19ч 23м 58с</div>
                </div>
                <div class="item">
                    <div class="name">БИТВЫ / ПОБЕДЫ:</div>
                    <div class="value">402 / 326 / <span class="bold blue">81%</span> / <span class="green">#1586</span></div>
                </div>
                <div class="item">
                    <div class="name">УБИЙСТВА / СМЕРТИ:</div>
                    <div class="value">984 / 291 / <span class="bold blue">3.38</span> / <span class="green">#309</span></div>
                </div>
                <div class="item">
                    <div class="name">ДЕЗЕРТИРСТВА:</div>
                    <div class="value"><span class="bold red">2</span> / 402 / <span class="bold blue">1%</span></div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="title">ДОСТИЖЕНИЯ</div>
            <div class="grid">
                <div class="item">
                    <div class="count">x2</div>
                </div>
                <div class="item">
                    <div class="count">x2</div>
                </div>
                <div class="item">
                    <div class="count">x2</div>
                </div>
                <div class="item">
                    <div class="count">x2</div>
                </div>
                <div class="item">
                    <div class="count">x2</div>
                </div>
                <div class="item">
                    <div class="count">x2</div>
                </div>
                <div class="item">
                    <div class="count">x2</div>
                </div>
                <div class="item">
                    <div class="count">x2</div>
                </div>
                <div class="item">
                    <div class="count">x2</div>
                </div>
                <div class="item">
                    <div class="count">x2</div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="block">
            <div class="title">ПОСЛУЖНОЙ СПИСОК</div>
            <div class="table">
                <div class="thead">
                    <div class="th">ТЕХНИКА</div>
                    <div class="th">
                        <img src="/window/assets/images/icons/crosshair.svg">
                    </div>
                    <div class="th">
                        <img src="/window/assets/images/icons/skull.svg">
                    </div>
                    <div class="th">
                        <img src="/window/assets/images/icons/scale.svg">
                    </div>
                    <div class="th">
                        <img src="/window/assets/images/icons/swords.svg">
                    </div>
                    <div class="th">
                        <img src="/window/assets/images/icons/trophy.svg">
                    </div>
                    <div class="th">
                        <img src="/window/assets/images/icons/chart.svg">
                    </div>
                    <div class="th"></div>
                </div>
                <div class="tbody">
                    <div class="trow">
                        <div class="td">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-72А</div>
                        </div>
                        <div class="td">1500</div>
                        <div class="td">300</div>
                        <div class="td">5.10</div>
                        <div class="td">500</div>
                        <div class="td">300</div>
                        <div class="td">60%</div>
                        <div class="td"></div>
                    </div>
                    <div class="trow">
                        <div class="td">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-72Б</div>
                        </div>
                        <div class="td">1500</div>
                        <div class="td">300</div>
                        <div class="td">5.10</div>
                        <div class="td">500</div>
                        <div class="td">300</div>
                        <div class="td">60%</div>
                        <div class="td"></div>
                    </div>
                    <div class="trow">
                        <div class="td">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-80Б</div>
                        </div>
                        <div class="td">1500</div>
                        <div class="td">300</div>
                        <div class="td">5.10</div>
                        <div class="td">500</div>
                        <div class="td">300</div>
                        <div class="td">60%</div>
                        <div class="td"></div>
                    </div>
                    <div class="trow">
                        <div class="td">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-80У</div>
                        </div>
                        <div class="td">1500</div>
                        <div class="td">300</div>
                        <div class="td">5.10</div>
                        <div class="td">500</div>
                        <div class="td">300</div>
                        <div class="td">60%</div>
                        <div class="td"></div>
                    </div>
                    <div class="trow">
                        <div class="td">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-72А</div>
                        </div>
                        <div class="td">1500</div>
                        <div class="td">300</div>
                        <div class="td">5.10</div>
                        <div class="td">500</div>
                        <div class="td">300</div>
                        <div class="td">60%</div>
                        <div class="td"></div>
                    </div>
                    <div class="trow">
                        <div class="td">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-72А</div>
                        </div>
                        <div class="td">1500</div>
                        <div class="td">300</div>
                        <div class="td">5.10</div>
                        <div class="td">500</div>
                        <div class="td">300</div>
                        <div class="td">60%</div>
                        <div class="td"></div>
                    </div>
                    <div class="trow">
                        <div class="td">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-72А</div>
                        </div>
                        <div class="td">1500</div>
                        <div class="td">300</div>
                        <div class="td">5.10</div>
                        <div class="td">500</div>
                        <div class="td">300</div>
                        <div class="td">60%</div>
                        <div class="td"></div>
                    </div>
                    <div class="trow">
                        <div class="td">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-72А</div>
                        </div>
                        <div class="td">1500</div>
                        <div class="td">300</div>
                        <div class="td">5.10</div>
                        <div class="td">500</div>
                        <div class="td">300</div>
                        <div class="td">60%</div>
                        <div class="td"></div>
                    </div>
                    <div class="trow">
                        <div class="td">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-72А</div>
                        </div>
                        <div class="td">1500</div>
                        <div class="td">300</div>
                        <div class="td">5.10</div>
                        <div class="td">500</div>
                        <div class="td">300</div>
                        <div class="td">60%</div>
                        <div class="td"></div>
                    </div>
                    <div class="trow">
                        <div class="td">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-72А</div>
                        </div>
                        <div class="td">1500</div>
                        <div class="td">300</div>
                        <div class="td">5.10</div>
                        <div class="td">500</div>
                        <div class="td">300</div>
                        <div class="td">60%</div>
                        <div class="td"></div>
                    </div>
                    <div class="trow">
                        <div class="td">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-72А</div>
                        </div>
                        <div class="td">1500</div>
                        <div class="td">300</div>
                        <div class="td">5.10</div>
                        <div class="td">500</div>
                        <div class="td">300</div>
                        <div class="td">60%</div>
                        <div class="td"></div>
                    </div>
                    <div class="trow">
                        <div class="td">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-72А</div>
                        </div>
                        <div class="td">1500</div>
                        <div class="td">300</div>
                        <div class="td">5.10</div>
                        <div class="td">500</div>
                        <div class="td">300</div>
                        <div class="td">60%</div>
                        <div class="td"></div>
                    </div>
                    <div class="trow">
                        <div class="td">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-72А</div>
                        </div>
                        <div class="td">1500</div>
                        <div class="td">300</div>
                        <div class="td">5.10</div>
                        <div class="td">500</div>
                        <div class="td">300</div>
                        <div class="td">60%</div>
                        <div class="td"></div>
                    </div>
                    <div class="trow">
                        <div class="td">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-72А</div>
                        </div>
                        <div class="td">1500</div>
                        <div class="td">300</div>
                        <div class="td">5.10</div>
                        <div class="td">500</div>
                        <div class="td">300</div>
                        <div class="td">60%</div>
                        <div class="td"></div>
                    </div>
                    <div class="trow">
                        <div class="td">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-72А</div>
                        </div>
                        <div class="td">1500</div>
                        <div class="td">300</div>
                        <div class="td">5.10</div>
                        <div class="td">500</div>
                        <div class="td">300</div>
                        <div class="td">60%</div>
                        <div class="td"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>