<div class="head">
    <div class="title">СОБЕРИТЕ СВОЙ ЭКИПАЖ И ОТПРАВЬТЕСЬ В БОЙ</div>
    <div class="options">
        <button class="small">ПОКИНУТЬ ЭКИПАЖ</button>
        <button class="small">ПОКИНУТЬ ЭКИПАЖ</button>
    </div>
</div>
<div class="body">
    <div class="column">
        <div class="block">
            <div class="title">ВЫБЕРИТЕ ТЕХНИКУ</div>
            <input-select id="nation" name="НАЦИЯ">
                <option value="all" selected>ВСЕ</option>
                <option value="ru">РОССИЯ</option>
                <option value="us">США</option>
                <option value="gb">БРИТАНИЯ</option>
                <option value="fr">ФРАНЦИЯ</option>
                <option value="de">ГЕРМАНИЯ</option>
            </input-select>
            <input-select id="level" name="УРОВЕНЬ">
                <option value="all">ВСЕ</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </input-select>
            <div class="hint">ВЫБЕРИТЕ ТЕХНИКУ ИЗ СПИСКА</div>
            <div class="list">
                <div class="item">
                    <div class="image" style="background-image: url(/window/assets/images/vehicles/t72a.png);"></div>
                    <div class="content">
                        <div class="top">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-72А</div>
                        </div>
                        <div class="bottom">
                            <div class="entry">
                                <div class="name">УРОВЕНЬ:</div>
                                <div class="value">2</div>
                            </div>
                            <div class="entry">
                                <div class="name">ЭКИПАЖ:</div>
                                <div class="value">3</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item selected">
                    <div class="image" style="background-image: url(/window/assets/images/vehicles/t72b.png);"></div>
                    <div class="content">
                        <div class="top">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-72Б</div>
                        </div>
                        <div class="bottom">
                            <div class="entry">
                                <div class="name">УРОВЕНЬ:</div>
                                <div class="value">3</div>
                            </div>
                            <div class="entry">
                                <div class="name">ЭКИПАЖ:</div>
                                <div class="value">3</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(/window/assets/images/vehicles/t64a.png);"></div>
                    <div class="content">
                        <div class="top">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-64А</div>
                        </div>
                        <div class="bottom">
                            <div class="entry">
                                <div class="name">УРОВЕНЬ:</div>
                                <div class="value">2</div>
                            </div>
                            <div class="entry">
                                <div class="name">ЭКИПАЖ:</div>
                                <div class="value">3</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(/window/assets/images/vehicles/t64b.png);"></div>
                    <div class="content">
                        <div class="top">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-64Б</div>
                        </div>
                        <div class="bottom">
                            <div class="entry">
                                <div class="name">УРОВЕНЬ:</div>
                                <div class="value">3</div>
                            </div>
                            <div class="entry">
                                <div class="name">ЭКИПАЖ:</div>
                                <div class="value">3</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(/window/assets/images/vehicles/t80b.png);"></div>
                    <div class="content">
                        <div class="top">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-80Б</div>
                        </div>
                        <div class="bottom">
                            <div class="entry">
                                <div class="name">УРОВЕНЬ:</div>
                                <div class="value">2</div>
                            </div>
                            <div class="entry">
                                <div class="name">ЭКИПАЖ:</div>
                                <div class="value">3</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(/window/assets/images/vehicles/t80u.png);"></div>
                    <div class="content">
                        <div class="top">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-80У</div>
                        </div>
                        <div class="bottom">
                            <div class="entry">
                                <div class="name">УРОВЕНЬ:</div>
                                <div class="value">3</div>
                            </div>
                            <div class="entry">
                                <div class="name">ЭКИПАЖ:</div>
                                <div class="value">3</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(/window/assets/images/vehicles/m60a1.png);"></div>
                    <div class="content">
                        <div class="top">
                            <img src="/window/assets/images/flags/us.png">
                            <div class="name">M60A1 (AOS)</div>
                        </div>
                        <div class="bottom">
                            <div class="entry">
                                <div class="name">УРОВЕНЬ:</div>
                                <div class="value">1</div>
                            </div>
                            <div class="entry">
                                <div class="name">ЭКИПАЖ:</div>
                                <div class="value">4</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(/window/assets/images/vehicles/t55a.png);"></div>
                    <div class="content">
                        <div class="top">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">Т-55А</div>
                        </div>
                        <div class="bottom">
                            <div class="entry">
                                <div class="name">УРОВЕНЬ:</div>
                                <div class="value">1</div>
                            </div>
                            <div class="entry">
                                <div class="name">ЭКИПАЖ:</div>
                                <div class="value">4</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(/window/assets/images/vehicles/bmp3.png);"></div>
                    <div class="content">
                        <div class="top">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">БМП-3</div>
                        </div>
                        <div class="bottom">
                            <div class="entry">
                                <div class="name">УРОВЕНЬ:</div>
                                <div class="value">2</div>
                            </div>
                            <div class="entry">
                                <div class="name">ЭКИПАЖ:</div>
                                <div class="value">3</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(/window/assets/images/vehicles/btr80a.png);"></div>
                    <div class="content">
                        <div class="top">
                            <img src="/window/assets/images/flags/ru.png">
                            <div class="name">БТР-80А</div>
                        </div>
                        <div class="bottom">
                            <div class="entry">
                                <div class="name">УРОВЕНЬ:</div>
                                <div class="value">2</div>
                            </div>
                            <div class="entry">
                                <div class="name">ЭКИПАЖ:</div>
                                <div class="value">3</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="block">
            <div class="title">
                ВЫБРАННАЯ ТЕХНИКА
            </div>
            <div class="image" style="background-image: url(/window/assets/images/vehicles/t72b.png);"></div>
        </div>
        <div class="block">
            <div class="title">ВАШ ЭКИПАЖ</div>
            <div class="list">
                <div class="item">
                    <div class="image" style="background-image: url(/window/assets/images/avatars/1.png);"></div>
                    <div class="content">
                        <div class="name yellow">Yournickname</div>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(/window/assets/images/avatars/2.png);"></div>
                    <div class="content">
                        <div class="name">Calenevayah</div>
                        <div class="options">
                            <button>ВЫГНАТЬ</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="content empty">
                        <div class="name">ПУСТОЙ СЛОТ</div>
                    </div>
                </div>
            </div>
            <button>
                <div class="name">СКОПИРОВАТЬ ССЫЛКУ-ПРИГЛАШЕНИЕ</div>
                <div class="hint">ДРУЗЬЯ МОГУТ ПРИСОЕДИНИТЬСЯ К ВАМ В РАЗДЕЛЕ "ИГРОКИ"</div>
            </button>
        </div>
        <div class="block">
            <div class="title">ГОТОВНОСТЬ</div>
            <button disabled>ТРЕБУЕТСЯ ПОЛНЫЙ ЭКИПАЖ</button>
        </div>
    </div>
    <div class="column">
        <div class="block">
            <div class="title">ОЧЕРЕДЬ МАТЧМЕЙКЕРА</div>
            <div class="table">
                <div class="thead">
                    <div class="th"></div>
                    <div class="th">
                        <img src="/window/assets/images/flags/ru.png">
                    </div>
                    <div class="th">
                        <img src="/window/assets/images/flags/us.png">
                    </div>
                    <div class="th">
                        <img src="/window/assets/images/flags/de.png">
                    </div>
                    <div class="th">
                        <img src="/window/assets/images/flags/gb.png">
                    </div>
                    <div class="th">
                        <img src="/window/assets/images/flags/cn.png">
                    </div>
                    <div class="th"></div>
                </div>
                <div class="tbody">
                    <div class="trow">
                        <div class="th">I</div>
                        <div class="td">19</div>
                        <div class="td">12</div>
                        <div class="td">2</div>
                        <div class="td">2</div>
                        <div class="td">5</div>
                        <div class="td"></div>
                    </div>
                    <div class="trow">
                        <div class="th">II</div>
                        <div class="td">17</div>
                        <div class="td">16</div>
                        <div class="td">7</div>
                        <div class="td">4</div>
                        <div class="td">2</div>
                        <div class="td"></div>
                    </div>
                    <div class="trow">
                        <div class="th">III</div>
                        <div class="td">13</div>
                        <div class="td">11</div>
                        <div class="td">9</div>
                        <div class="td">3</div>
                        <div class="td">8</div>
                        <div class="td"></div>
                    </div>
                    <div class="trow">
                        <div class="th">IV</div>
                        <div class="td">2</div>
                        <div class="td">4</div>
                        <div class="td">1</div>
                        <div class="td">0</div>
                        <div class="td">0</div>
                        <div class="td"></div>
                    </div>
                    <div class="trow">
                        <div class="th">V</div>
                        <div class="td">1</div>
                        <div class="td">2</div>
                        <div class="td">4</div>
                        <div class="td">0</div>
                        <div class="td">1</div>
                        <div class="td"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>