<div class="head">
    <div class="title">СПИСОК ЛОББИ</div>
    <div class="options">
        <button class="small">ОБНОВИТЬ СПИСОК</button>
        <button class="small" page="lobby-create">СОЗДАТЬ ЛОББИ</button>
    </div>
</div>
<div class="body">
    <div class="table">
        <div class="thead">
            <div class="th">НАЗВАНИЕ</div>
            <div class="th">
                <img src="/window/assets/images/icons/users.svg">
            </div>
            <div class="th">
                <img src="/window/assets/images/icons/map.svg">
                <span>КАРТА</span>
            </div>
            <div class="th">
                <img src="/window/assets/images/icons/user_crown.svg">
                <span>СОЗДАТЕЛЬ</span>
            </div>
            <div class="th"></div>
        </div>
        <div class="tbody">
            <div class="trow" page="lobby-room">
                <div class="td">Сальвабобусы</div>
                <div class="td">18 / 24</div>
                <div class="td">Чернарусь #12</div>
                <div class="td">Yrentairw</div>
                <div class="td"></div>
            </div>
            <div class="trow">
                <div class="td">Пивососы</div>
                <div class="td"><span class="red">24 / 24</span></div>
                <div class="td">Такистан #3</div>
                <div class="td">Salwador</div>
                <div class="td"></div>
            </div>
            <div class="trow">
                <div class="td">Lorem ipsum dolor sit amet</div>
                <div class="td">12 / 24</div>
                <div class="td">Фаллуджа #1</div>
                <div class="td">Leve</div>
                <div class="td"></div>
            </div>
            <div class="trow">
                <div class="td">Phasellus ligula orci</div>
                <div class="td">2 / 24</div>
                <div class="td">Чернарусь #2</div>
                <div class="td">Xannancesc</div>
                <div class="td"></div>
            </div>
            <div class="trow">
                <div class="td">Sed condimentum at nulla sit amet auctor</div>
                <div class="td">3 / 24</div>
                <div class="td">Намальск #1</div>
                <div class="td">Quintyn</div>
                <div class="td"></div>
            </div>
            <div class="trow">
                <div class="td">Etiam sodales</div>
                <div class="td">3 / 24</div>
                <div class="td">Чернарусь #6</div>
                <div class="td">Jette</div>
                <div class="td"></div>
            </div>
            <div class="trow">
                <div class="td">Aenean vestibulum est</div>
                <div class="td">10 / 24</div>
                <div class="td">Фаллуджа #2</div>
                <div class="td">Inaharsto</div>
                <div class="td"></div>
            </div>
            <div class="trow">
                <div class="td">Morbi vel tincidunt augue</div>
                <div class="td">1 / 24</div>
                <div class="td">Литиум #1</div>
                <div class="td">Carsteraniza</div>
                <div class="td"></div>
            </div>
        </div>
    </div>
</div>