<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>STEELWAKE</title>

        <link rel="stylesheet" href="./index.css">        
        <script type="module" defer src="./index.js"></script>
    </head>
    <body>
        <div class="layout header">
            <div class="container">
                <div class="row">
                    <button page="home">ГЛАВНАЯ</button>
                    <button page="quick-match">БЫСТРЫЙ МАТЧ</button>
                    <button page="crew-host">ЭКИПАЖ</button>
                    <button page="lobby-list">ЛОББИ</button>
                    <button page="player-profile">ПРОФИЛЬ</button>
                    <button page="friends">ДРУЗЬЯ</button>
                </div>
                <div class="row">
                    <button><img src="../assets/images/icons/notification.svg"></button>
                    <button page="settings"><img src="../assets/images/icons/settings.svg"></button>
                    <button exit><img src="../assets/images/icons/exit.svg"></button>
                </div>
            </div>
        </div>
        <div class="layout page">
            <div class="container">
                <!-- page-component -->
            </div>
        </div>
        <div class="layout footer">
            <div class="container">
                <div class="row">
                    <div class="entry">
                        <div class="name">Статус серверов:</div>
                        <div class="value"><span class="green">нормально</span></div>
                    </div>
                    <div class="entry">
                        <div class="name">Онлайн:</div>
                        <div class="value">782</div>
                    </div>
                    <div class="entry">
                        <div class="name">В лобби:</div>
                        <div class="value">9</div>
                    </div>
                    <div class="entry">
                        <div class="name">В поиске:</div>
                        <div class="value">43</div>
                    </div>
                    <div class="entry">
                        <div class="name">В бою:</div>
                        <div class="value">69</div>
                    </div>
                </div>
                <div class="row">
                    <div class="entry">
                        <div class="name">Версия клиента:</div>
                        <div class="value">0.2.7</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>